/*Global Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365 0%, #ffeefd 100%);
  font-family: Montserrat;
  color: #5d5a41;
  min-height: 100vh;
}

header {
  font-size: 1rem;
}

H2 {
  background-color: #e0ba2f;
  text-align: center;
  color: #5d5a41;
  font-family: Fugaz One;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  color: #a5a093
}

form button {
  color: #5d5a41;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #a5a093;
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-list, .shopping-list {
  list-style-type: none;
  color: white;
  min-width: 30%;
}

.ingredient-item, .shopping-item {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-item {
  transition: all 1s ease;
}

.filter-shopping-list {
  padding: 1rem;
}

.ingredient-item li, .shopping-item li {
  flex: 1;
  color: #a5a093
}

.ingredient-item .quantity, .shopping-item .quantity-shopping {
  background-color: white;
  margin: 5px;
  flex: 1;
  flex-grow: inherit;
  height: 50px;
}

.fa-trash, .fa-check, .fa-plus-square {
  pointer-events: none;
}

.trash-button, .check-button, .add-button, .add-to-recipe-button {
  background: #5d5a41;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.check-button {
  background: #e0ba2f;
}

.add-button {
  background-color: #e0ba2f;
}

.add-to-list-button {
  background-color: #e0ba2f;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #5d5a41;
  font-family: Fugaz One;
  cursor: pointer;
  width: 12rem;
  height: 3rem;
}

/* Arrow */

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #e0ba2f;
  cursor: pointer;
  pointer-events: none;
}

/* RECIPE VIEW */

.recipe-title, h4, .dialog-box {
  font-family: Fugaz One;
}

.recipe-box-wrapper {
  margin: 20px 15%;
}

.recipe-view .recipe-title, .recipe-add-button-div {
  background: #e0ba2f;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.recipe-view .recipe-title .title-row {
  display: inline-block;
}

.recipe-view .recipe-title button, .recipe-add-button-div button {
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
  color: #5d5a41;
}

.recipe-body li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.recipe-view .recipe-body {
  background: #a5a093;
  height: 330px;
  overflow-y: scroll;
  padding: 0 10px;
  font-family: Montserrat;
}

.recipe-add-button-div {
  background: #e0ba2f;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}

.add-recipe-button {
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
  color: #5d5a41;
}

.recipe-view .recipe-body h4 {
  letter-spacing: 0.1em;
}

.recipe-title, h4, .index-view-item {
  font-family: Fugaz One;
}

.recipe-body ul {
  list-style-type: disc;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.recipe-view .list {
  max-width: 600px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.recipe-body ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.recipe-view .recipe-title button:hover, .recipe-add-button-div button:hover {
  color: #a5a093;
}

button:hover {
  cursor: pointer;
}

.nav__link {
  color: #5d5a41;
}

.recipes-list-title {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Fugaz One;
  color: #5d5a41;
}

.index-view {
  height: 10rem;
  overflow: auto;
  margin-bottom: 5px;
  border: 5px solid #e0ba2f;
  border-bottom: 10px solid #e0ba2f;
  border-top: 10px solid #e0ba2f;
  border-radius: 10px;
}

.index-view .index-view-item:nth-child(odd) {
  background: #e0ba2f;
}

.index-view .index-view-item {
  padding: 7px;
  cursor: pointer;
}

.index-view a {
  color: #5d5a41;
}

.dialog-box .corner-close, .dialog-box button, .recipe-view .recipe-title button, .add-button button {
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
}

.dialog-box .corner-close:hover, .dialog-box button:hover, .recipe-view .recipe-title button:hover, .add-button button:hover {
  color: #a5a093;
}

.dialog-wrap {
  box-shadow: 2px 10px 10px 5000px rgba(0, 0, 0, 0.6) !important;
}

.dialog-box {
  display: none;
}

.dialog-box .input-title {
  margin: 5px;
}

.dialog-box textarea {
  margin-bottom: 10px;
  background: #ffffff;
  min-width: 300px;
  min-height: 60px;
  resize: vertical;
  color: #10283e;
  font-weight: bold;
  font-size: 13px;
  overflow: auto;
}

.dialog-box textarea:focus {
  box-shadow: 0 0 5px #e0ba2f;
  outline: 1px solid #e0ba2f;
  border: 1px solid #e0ba2f;
}

.dialog-box textarea:nth-of-type(3) {
  min-height: 100px;
}

.dialog-box textarea:first-of-type {
  resize: none;
  min-height: 15px !important;
}

.dialog-box button:not(:first-of-type) {
  margin-bottom: 15px;
}

.dialog-box button {
  font-family: Fugaz One;
  font-size: 15px;
  margin-right: 8px;
  background: #5d5a41;
  border-radius: 5px;
}

.dialog-box button:hover {
  color: #a5a093;
}

.dialog-box .corner-close {
  font-size: 24px !important;
  color: #5d5a41;
  position: absolute;
  top: 5px;
  right: 5px;
}

.dialog-box.active {
  text-align: center;
  position: fixed;
  width: 500px;
  min-width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
  box-shadow: 3px 3px 10px black;
  border-radius: 15px;
  background-color: #9d9dcc;
  z-index: 10;
  display: table;
}

#overlay, #overlay-edit {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active, #overlay-edit.active {
  opacity: 1;
}

.index-view-item button {
  color:#5d5a41;
  background-color: #e0ba2f;
  border: none;
  font-family: Fugaz One;
  font-size: 1rem;
}


