<div>
  <h1 class="recipes-list-title">Recipes List</h1>
  <div class="index-view-container">
    <div class="index-view">
    </div>
  </div>
  <div class="recipe-add-button-div">
    <button class="add-recipe-button" data-modal-target="#dialog-box">
      <i class="fa fa-plus-square"></i>
    </button>
  </div>
  <div class="dialog-box" id="dialog-box">
    <h2>Add Recipe</h2>
    <div class="input-title">Recipe</div>
    <textarea rows="1" class="add-recipe-name" placeholder="Recipe Name"></textarea>
    <div class="input-title">Ingredients</div>
    <textarea class="add-ingredients" placeholder="Separate each ingredient with a &quot;\&quot;: 
        Milk\2 Eggs\ 1/3 Cup Sugar"></textarea><br>
    <div class="input-title">Directions</div><textarea class="add-directions" placeholder="Separate each step with a &quot;\&quot;: 
    
    Preheat oven to 350°F \ Combine ingredients in pie crust \ Bake until crust is golden brown.">
    </textarea>
    <br>
    <button class="corner-close">
      <i class="fa fa-times"></i>
    </button>
    <button class="add-submit">Add</button>
    <button class="add-close">Close</button>
    <div id="overlay"></div>
  </div>
  <div class="dialog-box" id="dialog-box-edit">
    <h2>Edit Recipe</h2>
    <div class="input-title">Recipe</div>
    <textarea rows="1" class="add-recipe-name" placeholder="Recipe Name"></textarea>
    <div class="input-title">Ingredients</div>
    <textarea class="add-ingredients" placeholder="Separate each ingredient with a &quot;\&quot;: 
        Milk\2 Eggs\ 1/3 Cup Sugar"></textarea><br>
    <div class="input-title">Directions</div><textarea class="add-directions" placeholder="Separate each step with a &quot;\&quot;: 
    
    Preheat oven to 350°F \ Combine ingredients in pie crust \ Bake until crust is golden brown.">
    </textarea>
    <br>
    <button class="corner-close">
      <i class="fa fa-times"></i>
    </button>
    <button class="edit-submit">Submit</button>
    <button class="add-close">Close</button>
    <div id="overlay-edit"></div>
  </div>
</div>